main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.centrarTexto{
    text-align: center;
}

.estrechar input{
    width: fit-content;
}

.navbar-custom{
     background-color: #091d36; 
}
.footer-custom{
    background-color: #091d36; 
}

.nav-item > a {
    color:#f1f1f0;
}

body{
    background-color: #f1f1f0; 
    font-family: 'Montserrat', sans-serif;
}

.card-header{
    background-color: #5e83ba; 
}

.card-body{
    background-color: #c2d2e9; 
}

.separar{
    margin: 1rem;
}

.navbar-nav {
    float: right;
}

.custom-calendar{
    display: none;
}

.alturaminima{
    margin-top: 10px;    
    border-radius: 10px;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
   
}

.titulo{
    color: #133662;
    padding: 30px;
    border-bottom: solid 5px;
}
.titulo2{
    color: #133662;
    padding: 15px;
    border-bottom: solid 5px;
    font-weight: bold;
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: strech;
    align-items: center;
}

.left-aside{
        float: left;
        width: 200px;
        background-color: black;     
}

.miDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #091d36;
}

.noticias{
   height: 100px;
}

.my-gridview {
    text-align: center;
    background-color: #c2d2e9; /* Fondo azul claro */
    border-radius: 10px; /* Bordes redondeados */
    
}

.my-gridview th,
.my-gridview td {
    text-align: center; /* Texto centrado */
}

.header-custom{
    color: black;
}

.centrar{
    display: flex;
    justify-content: space-between;
}

.custom-button{
  padding-left: 50px;
  padding-right: 50px;
  background-color: #091d36;
  border-bottom: 2px solid #6c757d;
}

.icono {
  font-size: 25px; /* Ajusta el tamaño a tu preferencia */
}

.fa-facebook-square {
  color: #3b5998; /* Color de Facebook */
}

.fa-twitter-square {
  color: #1da1f2; /* Color de Twitter */
}

.bi-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
     background-clip: text;
    -webkit-background-clip: text;
}

.scrollspy-example {
    overflow-y: scroll;
    height: 300px;
    position: relative;
}

.noticias-custom{
    background-color:  #3b4d78;
}

.notias-titulo{
    color: white;
}

.cuadrados{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
}

.noticias{
    height: 350px;
    width: 850px;
}















